body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

button[disabled="disabled"],
button:disabled {
  background-color: grey !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid-wrapper {
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem;
  gap: 0;
}

.grid-wrapper > span {
  flex: 1;
  text-align: left;
  margin: 0 20px;
}
